<div class="font-small elegant-color">
  <div class="container">
   <div class="row">
   <div class="col-sm-3 col-md-2">
    <div class="col-md-6 col-lg-12 text-left text-md-left mb-4 mb-md-0">
      <a href="#"> 
        <img src="../assets/images/2.png" width="70%" alt="image" />
      </a>
    </div>
   </div>
   <div class="col-sm-9 col-md-10">
     <div class="d-flex flex-row-reverse">
        <div class="p-2">
          <div class="row">
           <i class="fa fa-envelope circle-icon bg-info text-light" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <p class="uppercase_text">For Support Mail us : </p><br>
          jordantoutsop472@gmail.com </div>
        </div>
        <div class="p-2">
         <div class="row">
           <i class="fa fa-phone circle-icon bg-info text-light" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <p class="uppercase_text">Service Helpline Call Us: </p><br>
          +237 (699028439/681409045) </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="p-1 text-light">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://code-projects.org/"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
            <li class="list-group-item"><a href="https://code-projects.org/"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
            <li class="list-group-item"><a href="https://code-projects.org/"><i class="fab fa-whatsapp-square" aria-hidden="true"></i></a></li>
            <li class="list-group-item"><a href="https://code-projects.org/"><i class="fab fa-google-plus-square" aria-hidden="true"></i></a></li>
            <li class="list-group-item"><a href="https://code-projects.org/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
     </div>
   </div>
  </div>
 </div>
</div>
<div id="app">
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <a href="#" class="navbar-brand"><b>Caref</b></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><b>Home </b></a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin"><b>Admin Board</b></a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod"><b>Moderator Board</b></a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"><b>User</b></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register"><b>Sign Up</b></a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"><b>Login</b></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
